body {
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}
.link {
    padding: 10px;
    text-decoration: none;
}

.header {
    background: yellow;
    padding: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}
